* {
  box-sizing: border-box;
}
body {
  background: #f9f9f9;
  font-family: "Bitter", serif;
}
.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
}
@media screen and (max-width: 700px), (max-height: 500px) {
  .wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.player {
  background-color: #f9f9f9;
  width: 410px;
  min-height: 480px;
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
  padding: 30px;
}
.invalid input {
  border: 1.5px solid red;
}
.invalid .form-message {
  color: red;
  /* font-weight: 500; */
  text-transform: capitalize;
}
